<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% skateboards.forEach(function(b) { %>
      <tr>
        <td><%= b.name %></td>
        <td><%= b.type %></td>
        <td class="index-button"><a href="/skateboards/<%= b.id %>">DETAILS</a></td>
        <% if (user) { %>
        <td class="index-button"><a href="/skateboards/<%= b.id %>/edit">EDIT</a></td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <footer>
    <% if (user) { %>
      <a id="new-skate" href="/skateboards/new">Add a Skate</a>
      <% } %>
  </footer>
<%- include('../partials/footer') %>
