<%- include('../partials/header') %>

<section id="show-page">
  
      <div>Name: <strong><%= skateboards.name %></strong></div><br>
      <div>Type: <strong><%= skateboards.type %></strong></div><br>
      <div>Deck Shape: <strong><%= skateboards.deckShape %></strong></div><br>
      <div>Trucks: <strong><%= skateboards.trucks %></strong></div><br>
      <div>Wheel Size: <strong><%= skateboards.wheels %></strong></div><br>
      <div>Modifications: <strong><%= skateboards.modifications %></strong></div>

    


   
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% skateboards.reviews.forEach(function(r) { %>
          <% total += r.rating %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
                <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        <% }); %>
          <!-- <td colspan="3"></td> -->
          <br>
          <td id="kp-rating">K/P Rating:</td> <td><%= (total / skateboards.reviews.length).toFixed(1) %></td>
        </tr>
      </tbody>
    </table>

    

<br>
  <h2>Reviews</h2>
  <br>
  <% if (user) { %>
<form id="add-review-form" method="POST"
  action="/skateboards/<%= skateboards.id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" >5</option>
    <option value="6" >6</option>
    <option value="7" >7</option>
    <option value="8" >8</option>
    <option value="9" >9</option>
    <option value="10" selected>10</option>
  </select>
  <input type="submit" value="Add Review">
</form>
<% } %>


  
<%- include('../partials/footer') %>