<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Trucks</th>
      <th>Wheel Size</th>
      <th>Modifications</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% skateboards.forEach(function(b) { %>
      <tr><br>
        <td><%= b.name %></td>
        <td><%= b.type %></td>
        <td><%= b.trucks %></td>
        <td><%= b.wheels %></td>
        <td><%= b.modifications %></td>
        
      </tr>
      <% }); %>
    </tbody>
  </table>


  
<%- include('../partials/footer') %>